extends ../layout

block scripts
    script(src="/javascripts/vendor/jquery.timer.js", type="text/javascript")
    script(src="/javascripts/vendor/jquery.mousewheel.min.js", type="text/javascript")
    script(src="/javascripts/vendor/jquery-ui.min.js", type="text/javascript")
    script(src="/javascripts/vendor/jQAllRangeSliders-min.js", type="text/javascript")        
    script(src="/javascripts/vendor/moment.min.js", type="text/javascript")
    script(src="/javascripts/vendor/raphael-min.js", type="text/javascript")
    script(src="/javascripts/vendor/underscore-min.js", type="text/javascript")
    script(src="/javascripts/vendor/chroma.min.js", type="text/javascript")
    script(src="/javascripts/vendor/kartograph.min.js", type="text/javascript")
    script(src="/javascripts/play.js", type="text/javascript")

block content
    form.toolbox
        .row-fluid
            .span3
                .hint.first Click PLAY to retrace the history.
                .hint You can move the cursor to find which countries were mentioned at the selected date range.            
            .span9.timeline
                a.btn-play
                .date-slider
                    .calendar-grid  
                        - for(var year=1973; year<=1975; year++)                    
                            .year
                                .date-label=year
                                - for(var month=1; month<=12; month++)
                                    .month
                                        if month > 1
                                            .date-label.hidden-phone=month

    #map
        a.js-back-to-world.hide ⊖
        .row-fluid
            #sidebar.span4.hide
                a.close-sidebar Close
                .js-content
        .spinner Loading