extends ../layout

block stylesheets
    link(rel='stylesheet', href='/plusd/stylesheets/vendor/jquery.qtip.min.css')

block scripts
    script(src="/plusd/javascripts/vendor/jquery.qtip.min.js", type="text/javascript")
    script(src="/plusd/javascripts/vendor/jquery.timer.js", type="text/javascript")
    script(src="/plusd/javascripts/vendor/jquery.mousewheel.min.js", type="text/javascript")
    script(src="/plusd/javascripts/vendor/jquery-ui.min.js", type="text/javascript")
    script(src="/plusd/javascripts/vendor/jQAllRangeSliders-min.js", type="text/javascript")        
    script(src="/plusd/javascripts/vendor/raphael-min.js", type="text/javascript")
    script(src="/plusd/javascripts/vendor/underscore-min.js", type="text/javascript")
    script(src="/plusd/javascripts/vendor/chroma.min.js", type="text/javascript")
    script(src="/plusd/javascripts/vendor/kartograph.min.js", type="text/javascript")
    script(src="/plusd/javascripts/play.js", type="text/javascript")

block prefix
    h3 Frequency of City and Country Mentions in US Diplomatic Cables
    
block content
    form.toolbox
        .row-fluid
            .span4
                h3.hint Click PLAY to watch the map over the whole time period.
                .hint You can move the cursor to find the number of times each country or city was mentioned for the selected date range.           
            .span8.timeline
                a.btn-play
                .date-slider
                    .calendar-grid  
                        - for(var year=1973; year<=1976; year++)                    
                            .year
                                .date-label=year
                                - for(var month=1; month<=12; month++)
                                    .month
                                        if month > 1
                                            .date-label.hidden-phone=month

    #map
        a.js-back-to-world.hide ⊖
        .row-fluid
            #sidebar.span5.hide
                a.close-sidebar Close
                .js-content
                    
        .legend.hidden-phone
            h5 US State Department global interests
            p Frequency of references to cities and countries found in US cable traffic
            .gradient
            .pull-left low
            .pull-right high

        .notice.see-countries.hidden-phone
            .countries 
                i.icon-hand-up.right10
                | Click on a country to zoom in
            .cities
                i.icon-hand-up.right10
                | Click on a city to find out more  

        .spinner Loading
        .disclaimer.hidden
            p The map shows the borders between countries circa 1975. Some countries changed shapes between 1973 and 1976. In these cases, we chose to represent the borders that help understand the situation best. Other borders that we show do not reflect the opinions of the Great Powers. Namibia was nominally independent in the 1970's, Sinai nominally belonged to Egypt and many countries recognized Western Sahara. But they were ruled by South Africa, Israel and jointly by Morocco and Mauritania after a Spanish withdrawal in 1975.
            p On this map, we chose to represent reality over political correctness. We're journalists, not diplomats.
            p The only place we failed to accurately represent is divided Berlin. Our parser had too hard a time differenciating between East and West. If you want to help us get in right, get in touch on GitHub.
            p.tr
                button.btn Show the map

    .legend.visible-phone
        h5 Density of occurences
        .gradient
        .pull-left low
        .pull-right high

    .left20.right20.top20
        p.alert This map was created using country <strong>boundary lines of 1975</strong>.
