doctype 5
html
  head
    if typeof title !== "undefined"
        title=title

    block stylesheets
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Rambla:400,700')
    link(rel='stylesheet', href='/stylesheets/style.css')    

  body

    #workspace

        ul.nav.nav-pills
            li(class=req.path == "/play" ? "active" : "")
                a(href="/play") Play the history         
            li(class=req.path == "/dive" ? "active" : "")
                a(href="/dive") Dive into the archive        
    
        .tab-content
            .tab-pane.active
                block content

    script(src="/javascripts/vendor/modernizr.custom.js", type="text/javascript")
    script(src="/javascripts/vendor/jquery-1.7.1.min.js", type="text/javascript")
    script(src="/javascripts/vendor/bootstrap.min.js", type="text/javascript")
    block scripts
        