doctype 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport",content="width=device-width")
    meta(charset="utf-8")
    if typeof title !== "undefined"
        title=title

    block stylesheets
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rambla:400,700')
    link(rel='stylesheet', href='./stylesheets/style.css')    

  body


    if mainMenu
        include sidebar

    #workspace

        .sharespace
            a(href="https://twitter.com/share").twitter-share-button Tweet
            .fb-like(data-send="false",data-layout="button_count",data-width="100",data-show-faces="false")

        .sharespace.embed
            input.input-block-level(type="text", value=getEmbed() )         
        
        .prefix
            block prefix

        .tab-content
            .tab-pane.active
                block content
    
    p.warning This tool only searches the Kissinger Cables (1973-1976) dataset

    #old-browser
        h4 You are using an <strong>outdated</strong> browser
        p Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience and see this visualization.

    script(src="./javascripts/vendor/modernizr.custom.js", type="text/javascript")
    script(src="./javascripts/vendor/jquery-1.7.1.min.js", type="text/javascript")
    script(src="./javascripts/vendor/bootstrap.min.js", type="text/javascript")
    script(src="./javascripts/global.js", type="text/javascript")
    block scripts
    
    div#fb-root

    script
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=395074383915209";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    script 
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        