extends ../layout


block content
    
    form.toolbox(action="/count/ngrams.json", method="GET")#search
        .row-fluid          
            .span7     
                h3.hint What? 
                .hint Find the evolution of a trending topic in the documents, between 1973 and 1976.  
                .top10              
                    input(type="text",name="q", value="Nixon,Watergate", placeholder="Comma-separated words: Watergate, Nixon, etc")
                    .go-to-search 
                        | or 
                        a(href=searchUrl, data-href=searchUrl, target="_parent") launch the search engine

            .span5.hidden-phone.need-inspiration                          
                h3.hint Need inspiration?
                .hint Try the following terms: 
                    - var suggest = ['Nixon', 'Watergate', 'OPEC', 'Angola', 'Vietnam', 'Helsinki', 'Scandal', 'Terrorism', 'Franco', 'Cyprus', 'Turkish']
                    !="<a>" + suggest.join("</a>, <a>") + "</a>."


    #trends
        .spinner Loading       

        .left30.right20.relative
            .calendar-grid.bottom-label  
                - for(var year=1973; year<=1976; year++)                    
                    .year
                        .date-label=year
                        - for(var month=1; month<=12; month++)
                            .month
                                if month > 1
                                    .date-label.hidden-phone=month                
        #graph            
            .select-events-type.hidden


block scripts
    .tip.hidden Courage is Contagious
    script(src="/javascripts/vendor/underscore-min.js", type="text/javascript")
    script(src="/javascripts/vendor/d3.v3.min.js", type="text/javascript")
    script(src="/javascripts/vendor/jquery.tagsinput.min.js", type="text/javascript")
    script(src="/javascripts/dive.js", type="text/javascript")